body{
background-color: #FFF446 ;
}
img{
align-content:center;
}
.container{
width: 100%;
max-width: 800px;
    margin: auto;
    position: relative;
    
    
}
.btn{
    width: auto;
    height: auto;
background-origin: padding-box;
    background-color: cornsilk;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
	font-size: 1.3rem;
}